
:root{
	--border-size: var(--size-02);
}


/* BUTTONS */
a /* Link */ button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	font-size: var(--size-1);
	display: inline-block;
	padding: 6px 12px;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	background: var(--primary-color);
	color: var(--primary-color__font);
	border: var(--border-size) solid var(--primary-color);
	border-radius: .45em;
	box-sizing: border-box;
	cursor: pointer;
}


a /* Link */ button[disabled],
button[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled] {
	cursor: default;
	opacity: .5;

	/* Set the [X] cursor while hovering a disabled link */
	cursor: not-allowed;
}

button:hover{
    background-color: var(--primary-color--hover);
	border: var(--border-size) solid var(--primary-color--hover);
}


button:active{
    background-color: var(--primary-color);
	border: var(--border-size) solid var(--primary-color);
    transition: background-color .0s, color .0s;
}



button.btn-outline{
    background-color: transparent;

	color: var(--primary-color);
}

button.btn-outline:hover{
    background-color: var(--primary-color);
	color: var(--primary-color__font);
	border: var(--border-size) solid var(--primary-color);
}

button.btn-outline:active{
    background-color: var(--primary-color--hover);
	border: var(--border-size) solid var(--primary-color--hover);

    transition: background-color .0s, color .0s;
}


.btn-txt-only{
	background-color: transparent;
    color: var(--primary-color);
}

.btn-txt-only:hover{
    background-color: transparent;
    color: var(--primary-color--hover);
}


button.btn-big{
	padding-inline: var(--size-4);
	padding-block: var(--size-1);
}