:root{
    /* Typography | Global */
	--font-sans: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--font-mono: Consolas, monaco, 'Ubuntu Mono', 'Liberation Mono', 'Courier New', Courier, monospace;


	font-size: var(--text-base-size);
	font-family: var(--font-sans);

	/* Body font size */
	--text-base-size: 1em;
  
	/* Type scale */
	--text-scale-ratio: 1.25;

	--text-xs: calc( var(--text-base-size) / var(--text-scale-ratio) / var(--text-scale-ratio));
	--text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
	--text-md: calc(var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio));
	--text-lg: calc(var(--text-md) * var(--text-scale-ratio));
	--text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
	--text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
}


@media (min-width: 64rem) { /* Responsive decision applied to all text elements */
	:root {
		--text-base-size: 1.2em;
		--text-scale-ratio: 1.25;
	}
}
  
h1, .txt-1   { font-size: var(--text-xxl); }
h2, .txt-2    { font-size: var(--text-xl); }
h3, .txt-3    { font-size: var(--text-lg); }
h4, .txt-4    { font-size: var(--text-md); }
h5, .txt-5      { font-size: var(--text-base-size); }
h6, small, .txt-6{ font-size: var(--text-sm); }
.txt-7        { font-size: var(--text-xs); }


.bold{
    font-weight: bold;
}